@import "tailwindcss";

*{
    user-select: none;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.45);
}




.slider {
  accent-color: #1cc659;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  height: 5px;          /* 👈 yahin se actual line patli hoti hai */
  border-radius: 999px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}